<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserNotificationsUsageDescription</key>
	<string>$(PRODUCT_NAME) uses notifications to send you daily reading reminders so you can stay consistent with your reading habits and never forget to engage with your books.</string>
</dict>
</plist>
